%-*-Mode:erlang;coding:utf-8;tab-width:4;c-basic-offset:4;indent-tabs-mode:()-*-
% ex: set ft=erlang fenc=utf-8 sts=4 ts=4 sw=4 et nomod:

{deps,
 [{folsom, ".*",
   {git, "https://github.com/boundary/folsom.git",
    {tag, "0.8.2"}}},
  {hackney, ".*",
   {git, "https://github.com/benoitc/hackney.git",
    {tag, "1.6.5"}}},
  {hut, ".*",
   {git, "https://github.com/tolbrino/hut.git",
    "b200e5acbfe6e52e0470eeabc68d83437bde6866"}},
  {parse_trans, ".*",
   {git, "https://github.com/uwiger/parse_trans.git",
    {tag, "3.0.0"}}},
  {setup, ".*",
   {git, "https://github.com/uwiger/setup.git",
    "e4a089f743505f1166e026c51989f041da7b2f6d"}},
  {exometer, ".*",
   {git, "https://github.com/Feuerlabs/exometer.git",
    "7a7bd8d2b52de4d90f65aa3f6044b0e988319b9e"}},
  {exometer_core, ".*",
   {git, "https://github.com/Feuerlabs/exometer_core.git",
    "09c2a9361c0295c977e441ef89382db964a64460"}},
  {exometer_influxdb, ".*",
   {git, "https://github.com/travelping/exometer_influxdb.git",
    "cc10115e60c6a5c05a561717cf38a9f59f11e223"}},
  {cloudi_core, ".*",
   {git, "https://github.com/CloudI/cloudi_core.git",
    {tag, "v1.7.0"}}}]}.

{erl_opts,
 [debug_info,
  warnings_as_errors,
  strict_validation,
  warn_bif_clash,
  warn_deprecated_function,
  warn_export_all,
  warn_export_vars,
  warn_exported_vars,
  warn_obsolete_guard,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_unused_record,
  warn_unused_vars]}.
{edoc_opts,
 [{preprocess, true}]}.
{xref_checks,
 [exports_not_used,
  undefined_function_calls]}.
{xref_warnings, true}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{cover_export_enabled, true}.

