%-*-Mode:erlang;coding:utf-8;tab-width:4;c-basic-offset:4;indent-tabs-mode:()-*-
% ex: set ft=erlang fenc=utf-8 sts=4 ts=4 sw=4 et nomod:

{deps,
 [{folsom, ".*",
   {git, "https://github.com/folsom-project/folsom.git",
    {tag, "0.8.7"}}},
  {hackney, ".*",
   {git, "https://github.com/benoitc/hackney.git",
    {tag, "1.14.3"}}},
  {unicode_util_compat, ".*",
   {git, "https://github.com/benoitc/unicode_util_compat.git",
    {tag, "0.4.1"}}},
  {hut, ".*",
   {git, "https://github.com/tolbrino/hut.git",
    {tag, "v1.2.1"}}},
  {parse_trans, ".*",
   {git, "https://github.com/uwiger/parse_trans.git",
    {tag, "3.3.0"}}},
  {setup, ".*",
   {git, "https://github.com/uwiger/setup.git",
    {tag, "2.0.2"}}},
  {exometer, ".*",
   {git, "https://github.com/Feuerlabs/exometer.git",
    {branch, "tb-upgrade"}}},
  {exometer_core, ".*",
   {git, "https://github.com/Feuerlabs/exometer_core.git",
    {tag, "v1.5.7"}}},
  {exometer_influxdb, ".*",
   {git, "https://github.com/travelping/exometer_influxdb.git",
    {tag, "0.6.0"}}},
  {cloudi_core, ".*",
   {git, "https://github.com/CloudI/cloudi_core.git",
    {branch, "master"}}}]}.

{erl_opts,
 [debug_info,
  warnings_as_errors,
  strict_validation,
  warn_bif_clash,
  warn_deprecated_function,
  warn_export_all,
  warn_export_vars,
  warn_exported_vars,
  warn_obsolete_guard,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_unused_record,
  warn_unused_vars]}.
{edoc_opts,
 [{preprocess, true}]}.
{xref_checks,
 [exports_not_used,
  undefined_function_calls]}.
{xref_warnings, true}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{cover_export_enabled, true}.

