%-*-Mode:erlang;coding:utf-8;tab-width:4;c-basic-offset:4;indent-tabs-mode:()-*-
% ex: set ft=erlang fenc=utf-8 sts=4 ts=4 sw=4 et nomod:

{deps,
 [{folsom, ".*",
   {git, "https://github.com/folsom-project/folsom.git",
    {tag, "1.0"}}},
  {hackney, ".*",
   {git, "https://github.com/benoitc/hackney.git",
    {tag, "1.17.4"}}},
  {unicode_util_compat, ".*",
   {git, "https://github.com/benoitc/unicode_util_compat.git",
    {tag, "0.7.0"}}},
  {idna, ".*",
   {git, "https://github.com/benoitc/erlang-idna.git",
    {tag, "6.1.1"}}},
  {mimerl, ".*",
   {git, "https://github.com/benoitc/mimerl.git",
    {tag, "1.2.0"}}},
  {certifi, ".*",
   {git, "https://github.com/certifi/erlang-certifi.git",
    {tag, "2.6.1"}}},
  {metrics, ".*",
   {git, "https://github.com/benoitc/erlang-metrics.git",
    {tag, "1.0.1"}}},
  {ssl_verify_fun, ".*",
   {git, "https://github.com/deadtrickster/ssl_verify_fun.erl.git",
    {tag, "1.1.6"}}},
  {hut, ".*",
   {git, "https://github.com/tolbrino/hut.git",
    {branch, "master"}}},
  {parse_trans, ".*",
   {git, "https://github.com/uwiger/parse_trans.git",
    {tag, "3.3.1"}}},
  {setup, ".*",
   {git, "https://github.com/uwiger/setup.git",
    {tag, "2.0.2"}}},
  {exometer, ".*",
   {git, "https://github.com/Feuerlabs/exometer.git",
    {branch, "tb-upgrade"}}},
  {exometer_core, ".*",
   {git, "https://github.com/Feuerlabs/exometer_core.git",
    {branch, "master"}}},
  {exometer_influxdb, ".*",
   {git, "https://github.com/travelping/exometer_influxdb.git",
    {branch, "master"}}},
  {cloudi_core, ".*",
   {git, "https://github.com/CloudI/cloudi_core.git",
    {tag, "v2.0.5"}}}]}.

{erl_opts,
 [deterministic,
  debug_info,
  warn_export_vars,
  warn_unused_import,
  %warn_missing_spec,
  warnings_as_errors]}.
{edoc_opts,
 [{preprocess, true}]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{cover_export_enabled, true}.

